<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDAO" class="com.dreamcc.framework.bean.UserDAO"/>

    <bean id="userService" class="com.dreamcc.framework.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean class="com.dreamcc.framework.common.MyBeanFactoryPostProcessor"/>

    <bean class="com.dreamcc.framework.common.MyBeanPostProcessor"/>

</beans>